@import "reset";
@import "colors";

html,
body {
  width: 100%;
  min-height: 100%;
  background: $black;
}

body {
  color: $white;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 4px;
  @media (min-width: 600px) {
    letter-spacing: 8px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active,
#menuBtn:hover,
#menuBtn:focus,
#menuBtn:active {
  color: $link-secondary;
}

img {
  width: 100%;
}

.dinblock {
  display: inline-block;
}

.undecorate {
  background: none;
  border: none;
  text-transform: inherit;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  font-family: inherit;
  color: inherit;
}

.upper {
  text-transform: uppercase;
}

.menu {
  li {
    margin-bottom: 0.25rem;
  }
}

#menuBtn {
  letter-spacing: normal;
  transition: transform 0.2s linear;
}

.menu-closed {
  display: none;
  height: 0px;
}

.pointer {
  cursor: pointer;
}

.rotate {
  transform: rotate(90deg);
}

#menuList {
  margin-top: 1rem;
  border-left: 1px solid $white;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.hero {
  p,
  a {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.secondary {
  margin-bottom: 50px;
  p,
  a {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 600px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.single {
  grid-template-columns: 1fr;
}

.double {
  grid-template-columns: 1fr 1fr;
}

.gallery-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  margin-bottom: auto;
  img:hover {
    filter: brightness(0.5);
  }
}

#djp-email-form {
  #req-label {
    color: $link-primary;
    text-align: right;
  }
  border: 1px solid;
  border-radius: 1rem;
  background: #303030;
  padding: 1rem;
  label {
    display: block;
  }
  input,
  textarea {
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.25rem;
    width: 100%;
  }
  button {
    border: inherit;
    border-radius: 0.33rem;
    padding: inherit;
    letter-spacing: inherit;
    background: #efefef;
    color: #101010;
    text-transform: uppercase;
  }
}

.footer {
  margin-top: 50px;
  font-size: 0.75rem;
}