* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background: #101010;
}

body {
  color: #f0f0f0;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
}

a {
  color: inherit;
}

a:hover,
a:focus,
a:active {
  color: #f03010;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: auto;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 20px;
}

.secondary {
  margin-bottom: 50px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.single {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.double {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.gallery-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 20px;
  margin-bottom: auto;
}

.footer {
  margin-top: 50px;
  font-size: 0.75rem;
}
