* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background: #101010;
}

body {
  color: #f0f0f0;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 4px;
}

@media (min-width: 600px) {
  body {
    letter-spacing: 8px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active {
  color: #f05030;
}

img {
  width: 100%;
}

.dinblock {
  display: inline-block;
}

.undecorate {
  background: none;
  border: none;
  text-transform: inherit;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  font-family: inherit;
  color: inherit;
}

.upper {
  text-transform: uppercase;
}

.menu li {
  margin-bottom: 0.25rem;
}

#menuBtn {
  letter-spacing: normal;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.menu-closed {
  display: none;
  height: 0px;
}

.pointer {
  cursor: pointer;
}

.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menuList {
  margin-top: 1rem;
  border-left: 1px solid #f0f0f0;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: auto;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 20px;
}

.hero p,
.hero a {
  font-size: 1rem;
  text-transform: uppercase;
}

.secondary {
  margin-bottom: 50px;
}

.secondary p,
.secondary a {
  font-size: 1rem;
  text-transform: uppercase;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 600px) {
  .content {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.single {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.double {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.gallery-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 20px;
  margin-bottom: auto;
}

.footer {
  margin-top: 50px;
  font-size: 0.75rem;
}
